---
import Link from "../components/Links.astro";
import { SITE_TITLE, DARK_THEME, LIGHT_THEME } from "../consts";
---

<header class="z-50 flex w-full flex-wrap py-7 md:flex-nowrap md:justify-start">
  <nav
    class="relative mx-auto flex w-full max-w-7xl basis-full flex-wrap items-center px-4"
    aria-label="Global"
  >
    <div class="">
      <a
        class="flex-none text-xl font-semibold"
        href="/"
        aria-label="Astromelody"
      >
        {SITE_TITLE}
      </a>
    </div>

    <div class="ms-auto flex items-center gap-x-2 py-1">
      <!-- header components here -->
    </div>
      </div>

      <label class="swap swap-rotate rounded-xl px-3 py-2 text-sm">
        <!-- this hidden checkbox controls the state -->
        <input
          type="checkbox"
          class="theme-controller"
          data-unchecked-value={LIGHT_THEME}
          value={DARK_THEME}
        />
        <!-- sun icon -->
        <i class="icon-base swap-off icon-[tabler--sun-filled]"></i>
        <!-- moon icon -->
        <i class="icon-base swap-on icon-[tabler--moon-filled]"></i>
      </label>
    </div>
  </nav>
</header>

<!-- Save theme to localStorage -->
<script is:inline>
  const themeController = document.querySelector(".theme-controller");
  const lightTheme = document
    .querySelector(".theme-controller")
    .getAttribute("data-unchecked-value");
  // ☝️ This script prevent the FART effect.
  if (localStorage.getItem("theme") === null) {
    document.documentElement.setAttribute("data-theme", lightTheme);
  } else {
    const dt = localStorage.getItem("theme");

    if (lightTheme !== dt) {
      themeController.checked = true;
    }
  }

  themeController.addEventListener("change", () => {
    const t = themeController.checked
      ? themeController.value
      : themeController.getAttribute("data-unchecked-value");
    localStorage.setItem("theme", t);
  });
  // "theme" LocalStorage value is set by the package to remember user preference.
  // The value is checked and applyed before rendering anything.
</script>
