*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    text-align: center;
}

.visuals {
    height: 500px;
    width: 300px;
}

.grid-layout {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto
}
