/*--space-cadet: #2b2d42ff;
    --manatee: #8d99aeff;
    --cultured: #edf2f4ff;
    --imperial-red: #ef233cff;
    --amaranth-red: #d90429ff;*/
:root {
    --blue-green: #2b6777; /* use for main background */
    --green: #52ab98;
    --white: #ffffff;
    --light-gray: #f2f2f2;
    --light-blue: #c8d8e4

}

html, body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 90px;
    color: var(--light-gray);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--blue-green);
    scroll-behavior: smooth;
}




